:root {
  --preto: #1f1f1f;
  --verde: #18a86b;
  --azul-claro: #458cf6;
  --branco: #ffffff;
  --gold: #d4af37;
  --cinza: #ededed;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

body {
  background-color: #eaeaea;
  margin: 0;
  /* user-select: none; */
}

h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  color: var(--preto);
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--preto);
}

.box-titulo {
  font-size: 18px;
  font-weight: 500;
}

/* p {
    margin: 0;
    color: var(--preto);
} */

.container-principal {
  max-width: 1300px;
  margin: 0 auto;
}

.container-sec .linha1 {
  margin-top: -3rem;
  display: grid;
  grid-template-columns: 31.7% 31.7% 31.7%;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* BOX SALDO */

.container-sec .linha1 .box-saldo {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha1 .box-saldo p {
  margin-bottom: 0;
}

.container-sec .linha1 .box-saldo .line1 {
  display: flex;
  margin-bottom: 8px;
}

.container-sec .linha1 .box-saldo .line1 .box-titulo {
  margin-right: 8rem;
}

.container-sec .linha1 .box-saldo .line1 img {
  width: 32px;
  height: 19px;
  margin-right: 8px;
}

.container-sec .linha1 .box-saldo .meu-saldo {
  font-size: 38px;
  font-weight: 600;
  user-select: text;
}

.container-sec .linha1 .box-saldo .meu-saldo span {
  font-size: 24px;
  font-weight: 650;
  user-select: none;
}

.container-sec .linha1 .box-saldo .copiarIBAN {
  cursor: pointer;
}

.container-sec .linha1 .box-saldo .botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.container-sec .linha1 .box-saldo .botoes .adicionar {
  background-color: var(--verde);
  color: var(--branco);
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-right: 8px;
  width: 48%;
}

.adicionar svg,
.transferir svg {
  margin-right: 10px;
}

.container-sec .linha1 .box-saldo .botoes .transferir {
  background-color: var(--preto);
  color: var(--branco);
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  width: 48%;  
}

/* BOX RENDIMENTOS */

.container-sec .linha1 .box-rendimentos {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha1 .box-rendimentos p {
  margin-bottom: 0;
}

.container-sec .linha1 .box-rendimentos .meus-rendimentos {
  margin-top: 8px;
  font-size: 38px;
  font-weight: 600;
  user-select: text;
}

.container-sec .linha1 .box-rendimentos .meus-rendimentos span {
  font-size: 24px;
  font-weight: 650;
  user-select: none;
}

.container-sec .linha1 .box-rendimentos .btn-porcentagem {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #cef0cb;
  color: #3b8d3a;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}

/* BOX DESPESAS */

.container-sec .linha1 .box-plano {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha1 .box-plano p {
  margin-bottom: 0;
}

.container-sec .linha1 .box-plano .meu-plano {
  margin-top: 8px;
  font-size: 38px;
  font-weight: 600;
  user-select: text;
}

.container-sec .linha1 .box-plano .alterar-plano {
  margin-top: 24px;
  background-color: var(--preto);
  color: var(--branco);
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-right: 8px;
}

.container-sec .linha1 .box-plano .alterar-plano a {
  color: var(--branco);
  text-decoration: none;
}

/* LINHA 2  */

.ver-mais {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  color: var(--azul-claro);
  cursor: pointer;
}

.container-sec .linha2 {
  display: grid;
  grid-template-columns: 66% 31.7%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.container-sec .linha2 .box1 {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha2 .box1 .box-titulo {
  margin-top: 0;
  margin-bottom: 16px;
}

.container-sec .linha2 .box1 .tabelamov {
  height: 377px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  user-select: text;
}

th:nth-child(1) {
  width: 50%;
}

.valor-transacao-positivo {
  font-weight: 500;
  color: #3b8d3a;
  background-color: #cef0cb;
  height: 32px;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.valor-transacao-negativo {
  font-weight: 500;
  color: #8d3a3a;
  background-color: #ffbaba;
  height: 32px;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.movimento {
  font-weight: 500;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sem-movimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  border-radius: 15px;
  padding: 18px;
  height: 93%;
}

.sem-movimentos img {
  margin-block: 1rem;
}

.sem-movimentos p {
  font-size: 18px;
  font-weight: 500;
}

/* MERCADO FINANCEIRO */

.container-sec .linha2 .box2 {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha2 .box2 .empresa {
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.container-sec .linha2 .box2 .empresa .img-p {
  display: flex;
}

.container-sec .linha2 .box2 .empresa .img-p p {
  user-select: text;
}

.container-sec .linha2 .box2 .empresa img {
  margin-top: 5px;
  margin-right: 12px;
}

.container-sec .linha2 .box2 .empresa p {
  text-align: left;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

.container-sec .linha2 .box2 .empresa span {
  text-align: left;
  font-size: 14px;
}

.container-sec .linha2 .box2 .empresa .btn-verde {
  height: 32px;
  background-color: #cef0cb;
  color: #3b8d3a;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}

.container-sec .linha2 .box2 .empresa .btn-vermelho {
  height: 32px;
  background-color: #ffbaba;
  color: #8d3a3a;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}

/* LINHA 3 */

.container-sec .linha3 {
  display: grid;
  /* grid-template-columns: 55% 43%; */
  grid-template-columns: 66% 31.7%;
  gap: 2rem;
  margin-bottom: 6rem;
}

.container-sec .linha3 .box1 {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha3 .box1 .titulo {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}

.box-titulo {
  margin-bottom: 1.5rem;
}

.container-sec .linha3 .box1 .titulo .btn-editar-cartoes {
  background-color: #eaeaea;
  color: var(--preto);
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  transition: background-color 0.3s ease;
  line-height: 20px;
}


.container-sec .linha3 .box1 .cartoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ESTILO CARTAO FRENTE E VERSO */

.container-sec .linha3 .box1 .cartao {
  color: var(--branco);
  border-radius: 15px;
  padding: 18px;
  width: 48%;
  height: 225px;
  position: relative;
  perspective: 1000px;
}

/* ESTILOS CARTAO FRENTE */

.frente .cartao-titulo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.frente .cartao-titulo .titulo {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.frente .cartao-titulo .tipo-cartao {
  font-weight: 500;
}

.frente .num-cartao {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: 500;
}

.frente .nome-cartao {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.frente .validade-foto {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.frente .validade-foto .esquerda {
  display: flex;
}

.frente .validade-foto .validade {
  font-size: 12px;
  line-height: 12px;
  margin-right: 12px;
}

.frente .validade-foto .data {
  margin-top: 4px;
  font-size: 16px;
  line-height: 16px;
}

.frente .validade-foto .card-logo {
  align-items: right;
}

/* ESTILOS CARTAO VERSO */

.container-sec .linha3 .box1 .cartao .verso {
  padding: 18px 0 0;
}

.verso p {
  margin-left: 18px;
  font-size: 18px;
  margin-bottom: 0;
  cursor: pointer;
}

.verso .imagens-cartao {
  margin-bottom: 1rem;
  width: 95%;
  text-align: right;
}

.verso .validade-cvv {
  display: flex;
  margin-bottom: 1.5rem;
}

.verso .validade-cvv span {
  font-size: 12px;
}

.verso .validade-cvv img {
  margin-top: -2px;
  margin-left: 8px;
}

.verso .validade-cvv .validade {
  margin-right: 1rem;
}

.verso .linha-preta {
  width: 100%;
  height: 56px;
  background-color: #1f1f1f;
  border-radius: 0 0 15px 15px; 
}


/* CENAS FRENTE E VERSO */

.frente,
.verso {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.frente {
  background: rgb(79,176,136);
  background: linear-gradient(40deg, rgba(79,176,136,1) 0%, rgb(24, 147, 96) 100%);
  border-radius: 15px;
  padding: 18px;
  transform: rotateY(0deg);
}

.cartao2 .frente {
  background: rgb(74,80,87);
  background: linear-gradient(40deg, rgb(58, 67, 76) 0%, rgba(31,36,45,1) 100%);
}

.verso {
  background: rgb(79,176,136);
  background: linear-gradient(320deg, rgba(79,176,136,1) 0%, rgb(24, 147, 96) 100%);
  border-radius: 15px;
  padding: 18px;
  transform: rotateY(-180deg);
}

.cartao2 .verso {
  background: rgb(74,80,87);
  background: linear-gradient(320deg, rgb(58, 67, 76) 0%, rgba(31,36,45,1) 100%);
}

.cartao.virado .frente {
  transform: rotateY(180deg);
}

.cartao.virado .verso {
  transform: rotateY(0deg);
}


/* NOVO CARTAO */

.container-sec .linha3 .box1 .novocartao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 18px;
  width: 48%;
  height: 225px;
  cursor: pointer;
  transition: all .5s ease;
}

.container-sec .linha3 .box1 .novocartao:hover {
  background-color: #dadada;
}


.container-sec .linha3 .box1 .novocartao img {
  margin-block: 1rem;
}

.container-sec .linha3 .box1 .novocartao p {
  font-size: 18px;
  font-weight: 500;
}

.eliminar-cartoes {
  display: none;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-top: -18px;
  margin-bottom: -9px;
}

.eliminar-cartoes button {
  background-color: #d54848 ;
  color: var(--branco);
  padding: 5px 8px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: -7px;
  animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes tilt-shaking2 {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(1px, 1px) rotate(.5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-1px, 1px) rotate(-.5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.eliminar-cartoes .btn-cartao1 {
  margin-left: 170px;
}

.eliminar-cartoes .btn-cartao2 {
  margin-right: 170px;
}

/* COFRE */


.container-sec .linha3 .box2 {
  background-color: var(--branco);
  border-radius: 20px;
  padding: 2rem;
}

.container-sec .linha3 .box2 p {
  margin-bottom: 0;
}

.container-sec .linha3 .box2 .saldo-cofre {
  margin-top: 8px;
  font-size: 38px;
}

.container-sec .linha3 .box2 .saldo-cofre span {
  font-size: 24px;
  font-weight: 650;
}

.container-sec .linha3 .box2 .texto-ultimo {
  margin-top: 24px;
  margin-bottom: 6px;
  font-weight: 500;
}

.container-sec .linha3 .box2 .ultimos-movimentos {   
  width: 100%;
  background-color: #eaeaea;
  border-radius: 12px;
  height: 60px;
  padding: 12px;
}

.container-sec .linha3 .box2 .ultimos-movimentos .movimento-cofre {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-sec .linha3 .box2 .ultimos-movimentos .movimento-cofre p {
  font-weight: 500;
  max-width: 28ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-sec .linha3 .box2 .btn-detalhes {
  margin-top: 16px;
  background-color: var(--preto);
  color: var(--branco);
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.sem-movimentos-cofre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  width: 100%;
  background-color: #eaeaea;
  border-radius: 12px;
  padding: 18px;
}

.sem-movimentos-cofre p {
  margin-top: 4px;
}



/* MODAL */

dialog::backdrop {
  background-color: #0000004d;
}

dialog {
  border: 0;
  border-radius: 1rem;
}

.modal-adicionar-dinheiro .box {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  width: 500px;
}

.modal-adicionar-dinheiro .box p {
  margin-bottom: 0;
}

.modal-adicionar-dinheiro .texto-protegido img{
  margin-right: 8px;
}

.modal-adicionar-dinheiro .texto-protegido {
  line-height: 20px;
  color: #2287f4;
}

.modal-adicionar-dinheiro .box .pagamentos {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modal-adicionar-dinheiro .box .pagamentos .pagamento1 {
  width: 32%;
  height: 75px;
  background-color: #e8e8e8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.modal-adicionar-dinheiro .adicionar-dinheiro {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #e8e8e8;
  margin-top: 2rem;
}

.modal-adicionar-dinheiro .eur-input {
  display: flex;
  justify-content: space-between;
}

.modal-adicionar-dinheiro .eur-input .input-dinheiro {
  background-color: #e8e8e8;
  border: none;
  outline: none;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}

.modal-adicionar-dinheiro .eur-input .input-dinheiro::-webkit-outer-spin-button, .input-dinheiro::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.texto-input p {
  font-size: 12px;
  color: #757575;
}

.modal-adicionar-dinheiro .btn-adicionar-dinheiro {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--preto);
  color: var(--branco);
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-right: 8px;
  cursor: pointer;
  
}

.modal-adicionar-dinheiro .btn-adicionar-dinheiro:hover {
  background-color: #3c3c3c;
}

.modal-adicionar-dinheiro .btn-adicionar-dinheiro:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* MODAL TRANSFERIR DINHEIRO */

.modal-transferir-dinheiro .box {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  width: 500px;
}

.modal-transferir-dinheiro .box p {
  margin-bottom: 0;
}

.modal-transferir-dinheiro .texto-protegido img{
  margin-right: 8px;
}

.modal-transferir-dinheiro .texto-protegido {
  line-height: 20px;
  color: #2287f4;
}

.modal-transferir-dinheiro .transferir-dinheiro {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #e8e8e8;
  margin-top: 2rem;
}

.modal-transferir-dinheiro .iban-input {
  display: flex;
  justify-content: space-between;
}

.modal-transferir-dinheiro .iban-input .input-iban {
  background-color: #e8e8e8;
  border: none;
  outline: none;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  width: 300px;
}

.modal-transferir-dinheiro .iban-input .input-iban::-webkit-outer-spin-button, .input-iban::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-transferir-dinheiro .eur-input {
  display: flex;
  justify-content: space-between;
}

.modal-transferir-dinheiro .eur-input .input-montante {
  background-color: #e8e8e8;
  border: none;
  outline: none;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  width: 300px;
}

.modal-transferir-dinheiro .eur-input .input-montante::-webkit-outer-spin-button, .input-montante::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.texto-input p {
  font-size: 12px;
  color: #757575;
}

.modal-transferir-dinheiro .btn-transferir-dinheiro {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--preto);
  color: var(--branco);
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-right: 8px;
  cursor: pointer;
  
}

.modal-transferir-dinheiro .btn-transferir-dinheiro:hover {
  background-color: #3c3c3c;
}

.modal-transferir-dinheiro .btn-transferir-dinheiro:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


@media only screen and (max-width: 1365px) {
  .container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-sec {
    width: 80%;
  }

  .container-sec .linha1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container-sec .linha2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-sec .linha3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-sec .linha3 .box1 .cartoes {
    max-width: 790px;
  }
}


@media only screen and (max-width: 1070px) {
  .container-sec {
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .container-sec {
    width: 96%;
  }
}

@media only screen and (max-width: 890px) {
  .container-sec .linha3 .box1 .cartoes {
    margin: 0 auto;
    scale: 90%;
  }

  .container-sec .linha3 .box1 .eliminar-cartoes {
    margin-top: -2rem;
    scale: 90%;
  }
}