* {
  font-family: "Poppins", sans-serif;
  --main-color: #2fb383;
  --main-color-hover: #3e9a78;
  --brd-radius: 10px;
}

body {
  background-color: #eaeaea !important;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  color: var(--preto);
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--preto);
}

.box_content .box1 .space {
  padding-bottom: 5rem;
}

.box_content .box2 .space {
  padding-bottom: 5rem;
}

.container {
  max-width: 1300px;
  margin: 0;
}

.title h1 {
  font-size: 32px;
  font-weight: bold;
}

.box_details {
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
  min-height: 350px;
  margin-bottom: 50px;
}

.box_details .box_title {
  font-size: 24px;
  font-weight: 500;
}

.box_content {
  display: flex;
  flex-direction: row;
}

.box_content .title {
  color: #7C7C7C;
  font-size: 16px;
}

.box_content .sub_title {
  font-size: 18px;
  font-weight: 500;
}

.box_content .box1 {
  min-width: 250px;
}

.box_content .box2 {
  min-width: 250px;
}

.box_content .box4 {
  justify-content: center;
  min-width: 400px;
}

.box_content .box4 .small_title {
  font-size: 14px;
}

.box_content .box4 .small_title .color_r {
  width: 14px;
  height: 14px;
  background: #FF495F;
  border-radius: 4px;
}

.box_content .box4 .small_title .color_b {
  width: 14px;
  height: 14px;
  background: #3A82EF;
  border-radius: 4px;
}

.box_content .box4 .small_title .color_p {
  width: 14px;
  height: 14px;
  background: #EE3CD2;
  border-radius: 4px;
}

.box_content .box4 .small_title .color_y {
  width: 14px;
  height: 14px;
  background: #FFB038;
  border-radius: 4px;
}

.box_content .box4 .small_title .color_g {
  width: 14px;
  height: 14px;
  background: #5EE173;
  border-radius: 4px;
}

.pie {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  background: conic-gradient(#3A82EF 0deg 90deg,
  #EE3CD2 90deg 120deg,
  #FFB038 120deg 200deg,
  #FF495F 200deg 300deg,
  #5EE173 300deg 360deg);
}


.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 15px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: white;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: black;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}



.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #FF6826;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(153deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(153deg);
  }
}


.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #1DC624;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(117deg);
}

@keyframes fill-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(117deg);
  }
}




.box_details2 {
  background-color: white;
  border-radius: 25px;
  padding: 2rem;
  min-height: 350px;
  margin-bottom: 50px;
}

.box_details2 .box_title {
  font-size: 24px;
  font-weight: 500;
}

.box_content2 .box5 {
  min-width: 250px;
}

.box_content2 .box5 .title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1.5rem;
}

.box_content2 .box5 .sub_title {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.box_content2 .box5 .savings_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:70px;
  margin-left: 5rem;
    margin-right: 5rem;
}

.box_content2 .box5 .stat {
  text-align: center;
}

.box_content2 .box5 .stat_title {
  font-size: 14px;
  color: #7C7C7C;
  margin-bottom: 0.5rem;
}

.box_content2 .box5 .stat_value {
  font-size: 18px;
  font-weight: 500;
}

.box_content2 .box5 .stat_value span {
  font-size: 12px;
}

.box_content2 .box5 .savings_stats .open-button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #458cf6;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}






/* hjabfhjawgdawgfwawgudwau */

* {
  font-family: "Poppins", sans-serif;
  --main-color: #2fb383;
  --main-color-hover: #3e9a78;
  --brd-radius: 10px;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #eaeaea;
}

.round {
  position: relative;
  background: #2fb383;
  left: 70%;
  bottom: 20%;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  line-height: 30px;
  /* transition: all 0.3s ease; */
}
.round:hover {
  background: var(--main-color-hover);
}

.round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: var(--brd-radius) !important;
}



/* Movimentos / Listar Utilizadores  */
.container-principal {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-block: 2rem;
}
.container-titulo {
  display: flex;
  justify-content: space-between;
}
.container-titulo p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
}
#searchInput {
  border-radius: 50px;
  border: 1px solid #777777;
  padding: 0 0 0 5px;
  height: 100%;
  margin-block: auto;
}
.acoes {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.box {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
}


.flutuante {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
  text-align: end;
  margin: auto;
}
.acoes {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 11rem; /* Gradient largura acoes  */
}
.box {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
}


table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: 400;
}

td {
  padding: 8px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
  user-select: text;
}
.dados-input input,
.dados-input select {
  border-radius: 10px;
  /* border: 1px solid #000;
  padding: 0 8px; */
}

.dados-input input:disabled {
  cursor: not-allowed;
  border: 0px solid #777;
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #ededed;
}
tr:nth-child(even) input:disabled {
  background-color: #ededed;
}
tr:nth-child(even) input {
  background-color: #ffffff;
}
.hidden-row {
  display: none;
}

.btn {
  border-radius: var(--brd-radius) !important;
  align-items: center;
}
.editar {
  display: flex;
}

.atualizar {
  display: none;
}
.adicionar {
  display: none;
}
.criar {
  border-radius: var(--brd-radius) !important;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  background-color: #458cf6;
  border: 0;
  height: 100%;
}
.criar:hover {
  color: #fff;
  background-color: #2867c5;
  border: 0;
}

/* modal */
dialog::backdrop {
  background-color: #0000004d;
}

dialog {
  position: fixed;
  top: 0;
  border: 0;
  border-radius: 1rem;
}

body.modal-scroll {
  overflow: hidden;
}

.modal-confirmar .box {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ffffff;
  width: 500px;
  text-align: center;
}

.modal-confirmar .texto-protegido img {
  margin-right: 8px;
}

.botoes-modal {
  display: flex;
  justify-content: space-evenly;
}

.botoes-modal button {
  width: 45%;
}
 .sem-movimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  border-radius: 15px;
  padding: 18px;
  height: 93%;
}

 .sem-movimentos img {
  margin-block: 1rem;
}

 .sem-movimentos p {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 32rem) {
  .fundo {
    height: 25vh;
    width: 100%;
    object-fit: cover;
  }

  .banner-utilizador .bem-vindo {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  .banner-utilizador .bem-vindo span {
    font-size: 13px;
    font-weight: 300;
  }

  .conteudo-banner {
    max-width: 1400px;
    margin: 0 auto;
  }

  .banner-photos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .banner-imagens {
    margin: 0 auto;
    padding: 0;
  }

  .round {
    left: 60%;
    bottom: 1rem;
  }
}
